<select name="menu" class="jumpmenu">
  <option value="/">Select Country</option>
  {% for country in countries %}
  <option value="/{{ country.id }}/"
    {% if country.id == current_country_id %} selected{% endif %}
    >{{ country.name }}</option>
  {% endfor %}
</select>