{% extends "pages/page.html" %}

{% load mezzanine_tags %}


{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/routemap.css">
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/routemap.js"></script>
{% endblock %}


{% block title %}
{% editable page.countrymap.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
{% if page.countrymap.map_image %}
<div id="map">
  <img id="map-image" src="{{ MEDIA_URL }}{{ page.countrymap.map_image }}">
	{% for point in page.countrymap.points.all %}
	<div class="map-point" style="left: {{ point.x }}px; top: {{ point.y }}px">
    <a class="map-point-marker" href="{{ point.url }}"> </a>
    <div class="map-point-frame">{{ point.name }}<br/>{{ point.dates }}</div>
	  <div class="map-point-hover"> </div>
	</div>
	{% endfor %}
</div>

{% endif %}
{% editable page.countrymap.content %}
{{ page.countrymap.content|richtext_filter|safe }}
{% endeditable %}
{% endblock %}
