{% extends "pages/page.html" %}

{% load mezzanine_tags %}


{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/responsiveslides.css">
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/responsiveslides.min.js"></script>
{% endblock %}

{% block slides %}
{% with slides=page.countrypage.get_slides %}
  {% if slides %}
  <div id="slideshow">
    <ul class="rslides">{% for image in slides %}
        <li><img src="{{ MEDIA_URL }}{% thumbnail image.file 727 143 %}" alt="{{ image.description }}"/></li>
    {% endfor %}</ul>
  {% else %}
  <div id="banner" style="background-image:url({{ MEDIA_URL}}uploads/{{ request.country.id }}/banners/{{ request.country.id }}.jpg);">
  {% endif %}
    <h3>{{ request.country.name }}</h3>
  </div>
{% endwith %}
{% endblock %}

{% block title %}
{% editable page.countrypage.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
{% editable page.countrypage.content %}
{{ page.countrypage.content|richtext_filter|safe }}
{% endeditable %}
{% endblock %}
