{% extends "pages/countrypage.html" %}
{% load mezzanine_tags %}

{% block main %}
{% editable page.countrypage.content %}
{{ page.countrypage.content|richtext_filter|safe }}
{% endeditable %}
<script>(function(t,e,n,c){var o,s,i;t.SMCX=t.SMCX||[],e.getElementById(c)||(o=e.getElementsByTagName(n),s=o[o.length-1],i=e.createElement(n),i.type="text/javascript",i.async=!0,i.id=c,i.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/4349iVnmfVVtAhq3JnBwVDSNxvjtCov4WpLGVcxc7OPeG3RbJm8eWzqiYlutC_2Bn4.js"].join(""),s.parentNode.insertBefore(i,s))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com/mp/customer-satisfaction-surveys/> Create your own user feedback survey </a>
{% endblock %}
