{% load i18n %}

<div class="report-footer">
  <div class="report-row">
    {% if authors %}
    <div class="pull-left">{% trans "Reported by " %}{% for member in authors %}<span class="name">{{ member.name }} {{ member.surname }}</span>{% if not forloop.last %}<span>, </span>{% endif %}{% endfor %}</div>
    {% endif %}
    {% if photographers %}
    <div class="pull-right">{% trans "Photos by " %}{% for member in photographers %}<span class="name">{{ member.name }} {{ member.surname }}</span>{% if not forloop.last %}<span>, </span>{% endif %}{% endfor %}</div>
    {% endif %}
  </div>
  <div class="clearing"></div>

  <div class="report-row">
    <span>{% trans "Torch carried by " %}</span>
    {% for member in runners %}
    <span class="runner">
      <span class="name">{{ member.name }} {{ member.surname }}</span> <span class="country">({{ member.country.iso2 }})</span>{% if not forloop.last %}, {% else %}.{% endif %}
    </span>
    {% endfor %}
  </div>

  {% if additional_runners %}
  <div class="report-row">
    <span>{% trans "Accompanied by " %}</span> <span class="name">{{ additional_runners }}</span>.
  </div>
  {% endif %}

  {% if report.distance %}
  <div class="report-row">
    {% trans "The torch has travelled" %} <em>{{ report.distance|stringformat:".1f" }} {{ report.distance_units }}</em>
    {% if report.end_location and report.end_location != report.start_location %}
      {% trans "from" %} <em>{{ report.start_location }}</em> {% trans "to" %} <em>{{ report.end_location }}</em>.
    {% else %}
      {% trans "in" %} <em>{{ report.start_location }}</em>.
    {% endif %}
  </div>
  {% endif %}
  
</div>