{% load i18n future pages_tags %}

{% if on_home %}
<li class="home">{% trans "Global Home" %}</li>
{% else %}
{% for page in page_branch %}

  {% if page.is_primary and forloop.first %}
  <li class="home">
      <a href="{% url "home" %}">{% trans "Global Home" %}</a>
  </li>
  <div class="divider"> &raquo; </div>
  {% endif %}

  {% if page.is_current_or_ascendant %}
    {% if page.is_current %}
    <li class="active">{{ page.title }}</li>
    {% else %}
    <li>
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    </li>
    <div class="divider"> &raquo; </div>
    {% endif %}
  {% if page.has_children %}{% page_menu page %}{% endif %}
  {% endif %}

{% endfor %}
{% endif %}
