{% load pages_tags i18n future %}

{% spaceless %}
{% with request.country_id as country_id %}
{% for page in page_branch %}
{% if page.in_menu and page.branch_level < 2 %}
{% if page.get_content_model.get_country_id == country_id and page.html_id != country_id %}
<li>
  <a href="{{ page.get_content_model.get_absolute_url }}" class="{% if page.is_current_or_ascendant %}active{% endif %}">{{ page.title }}</a>
</li>
{% endif %}
{% page_menu page %}
{% endif %}
{% endfor %}
{% endwith %}
{% endspaceless %}
