{% load i18n future pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}
<ul class="menu">
  {% for page in page_branch %}
    {% if page.in_menu %}
      <li class="
                  {% if page.has_children_in_menu %}
                    {% if page.is_current_or_ascendant %}
                    expanded
                    {% else %}
                    collapsed
                    {% endif %}
                  {% else %}
                  leaf
                  {% endif %}">
        <a href="{{ page.get_content_model.get_absolute_url }}" class="{% if page.is_current %}active{% endif %}">{{ page.title }}</a>
        {% if page.is_current_or_ascendant %}
          {% page_menu page %}
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
{% endspaceless %}
