{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "Report not ready" %}
{% endblock %}

{% block main %}
<p>{% blocktrans %}Photo thumbnails are still being generated. ({{ not_ready_count }} photos left){% endblocktrans %}</p>
<p>{% trans "Please refresh the page in few minutes." %}</p>
{% endblock %}
