{% extends "base.html" %}
{% load i18n mezzanine_tags markup report_tags static %}

{% block extra_css %}
<link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/datepicker.min.js' %}"></script>
<script src="{% static 'js/i18n/datepicker.en.js' %}"></script>
{% endblock %}
{% block main %}

<div class="report-filter">
  <form action="" method="post" id="report-form">{% csrf_token %}
    {{ form.as_p}}
    <p>
    <input type="submit" name="submit" value="Submit">
    </p>
  </form>
</div>

<div class="report-list">
  {% for year, reports in years %}
  <div class="year-container">
    <h1>{{ year }}</h1>
    {% for report in reports %}
    <div class="report-container">
      <a href="{{ report.get_absolute_url }}"><img class="report-thumb" src="{% report_thumb_url report %}"></a>
      <div class="report-text">
        <a class="title" href="{{ report.get_absolute_url }}">{{ report.title }}</a>
        <p class="headline">
          {% if report.headline %}
          {{ report.headline }}…
          {% endif %}
          {% if report.headline_local %}<br/>
          {{ report.headline_local }}…
          {% endif %}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
    {% empty %}
  <div class="year-container">
      <h3>{% trans "No reports were uploaded yet for given country and date range." %}</h3>
  </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        {% if page_obj %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock main %}