<!DOCTYPE html>
{% load i18n mezzanine_tags block_tags thumbnail future report_tags %}
<html>
<head>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <title>{{ report.title }}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

{#% compress css %#}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/gallery.css" />
  {% block extra_css %}{% endblock %}
{#% endcompress %#}

{% compress js %}
<script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
<script src="{{ STATIC_URL }}js/gallery.js"></script>
<script type="text/javascript">
  
  // this will force Firefox to reload the script when returning back in browser history
  window.onunload = function(){};
  
  galleryInit({
    // ISO2 of the country we're in
    localCountryIso2: '{{ report.country.iso2 }}',
    
    // available sizes of pictures
    sourceSizes: [
      {% for si in source_sizes %}
      parseInt("{{ si }}"),
      {% endfor %}
    ],
    
    // image & paragraph items
    items: [
      {% for ri in report_items %}
      {% with desc=ri.description|default:""|report_desc_markdown|escapejs local_desc=ri.description_local|default:""|report_desc_markdown|escapejs %}
      {
        {% if ri.image %}
          {% with thumbnailer=ri.image.path|thumbnailer_passive %}
          type: cTypeImage,
          images: [
            "{{ thumbnailer.screen_small.url }}",
            "{{ MEDIA_URL }}{{ ri.image }}",
          ],
          imageOriginal: "{{ MEDIA_URL }}{{ ri.image }}",
          imageAspectRatio: parseInt("{{ thumbnailer.screen_small.width }}") / parseInt("{{ thumbnailer.screen_small.height }}"),
          {% endwith %}
        {% elif ri.video_url %}
          type: cTypeVideo,
          images: [],
          imageOriginal: "",
          imageAspectRatio: 0,
          videoHTML: '{% report_item_video_html ri.video_url %}',
        {% else %}
          type: cTypeParagraph,
          images: [],
          imageOriginal: "",
          imageAspectRatio: 0,
        {% endif %}
        desc: "{{ desc }}",
        localDesc: "{{ local_desc }}"
      },
      {% endwith %}
      {% endfor %}    
    ]
  });
</script>  
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>


<body id="gallery">
  
  <div class="gallery-menubar" id="gallery-menubar">
    <span class="" id="title">{{ report.title }}</span>
    <span class="gallery-menu-item-right">
      <span title="{% trans 'Switch light/dark theme' %}" class="gallery-menu-item gallery-clicklink gallery-menu-item-link" id="gallery-light" onclick="toggleLights();"><img src="{{ STATIC_URL }}images/gallery-lightbulb.png" /></span>
      <a title="{% trans 'Download full sized image' %}" class="gallery-menu-item gallery-menu-item-link" id="gallery-download" href="" type="application/octet-stream" download><img src="{{ STATIC_URL }}images/gallery-download.png" /></a>
      <a title="{% trans 'View report as one page' %}" class="gallery-menu-item gallery-clicklink gallery-menu-item-link" id="gallery-exit" onclick="showExitMessage(true); delayedRedirect('{{ url_detail }}', 1);">{% trans "CLOSE" %} [X]</a>
    </span>
    <br style="clear: both" />
  </div>
  
  <div id="gallery-item-container">
    <div id="gallery-item-subcontainer">
      <div id="gallery-image-container">
        <img id="gallery-image" />
        <div id="gallery-preloader-container">
          <div id="gallery-preloader-subcontainer">
            <div id="gallery-preloader-subsubcontainer">
              <img id="gallery-preloader" />
            </div>
          </div>
        </div>
      </div>
      <div id="gallery-paragraph-container">
        <div id="gallery-paragraph-english" class="gallery-paragraph"> </div>
        <div id="gallery-paragraph-local" class="gallery-paragraph"> </div>
      </div>
      <div id="gallery-video-container">
      </div>
    </div>
    <div id="gallery-prev" class="gallery-prevnext gallery-clicklink" onclick="prevImage()" onmouseenter="hoverPrevNext(this)" onmouseleave="unhoverPrevNext(this)" ontouchstart="hoverPrevNext(this)" ontouchend="unhoverPrevNext(this, 300)"><img id="gallery-prev-icon" class="gallery-prevnext-icon" src="{{ STATIC_URL }}images/gallery-prev.png" /></div>
    <div id="gallery-next" class="gallery-prevnext gallery-clicklink" onclick="nextImage()" onmouseenter="hoverPrevNext(this)" onmouseleave="unhoverPrevNext(this)" ontouchstart="hoverPrevNext(this)" ontouchend="unhoverPrevNext(this, 300)"><img id="gallery-next-icon" class="gallery-prevnext-icon" src="{{ STATIC_URL }}images/gallery-next.png" /></div>
  </div>
  
  <div id="gallery-description-container">
    <div id="gallery-description-subcontainer">
      <div id="gallery-description" class="gallery-description"> </div>
      <div id="gallery-description-controls" class="gallery-description-controls">
        <div title="{% trans 'See full description' %}" class="gallery-description-control gallery-clicklink" onclick="toggleFullDescription();"><img id="gallery-description-control-moreless-less" class="gallery-description-control-icon" src="{{ STATIC_URL }}images/gallery-minus.png" /><img id="gallery-description-control-moreless-more" class="gallery-description-control-icon" src="{{ STATIC_URL }}images/gallery-plus.png" /></div>
        <div title="{% trans 'Toggle local/english version' %}" class="gallery-description-control gallery-clicklink gallery-description-textcontrol" onclick="toggleLocalDescription();"><span id="gallery-description-control-language" class="gallery-description-control-text"></span></div>
      </div>
    </div>
  </div>  
  
  <div id="gallery-thumbs-container">
    <div id="gallery-thumbs-content">
      <div id="gallery-thumbs">
      {% for ri in report_items %}
        <img class="gallery-thumb gallery-clicklink" id="gallery-thumb{{ forloop.counter0 }}" onclick="selectImage({{ forloop.counter0 }});" alt="" 
              src="{% if ri.image %}{% with thumbnailer=ri.image.path|thumbnailer_passive %}{{ thumbnailer.gallery_thumb.url }}{% endwith %}{% elif ri.video_url %}{{ STATIC_URL }}images/gallery-video-thumb.png{% else %}{{ STATIC_URL }}images/gallery-text-thumb.png{% endif %}">
      {% endfor %}
      </div>
    </div>    
    <div id="gallery-thumbs-leftarrow" class="gallery-thumbs-arrows gallery-clicklink" onclick="thumbsScroll(-1);">
      <img src="{{ STATIC_URL }}images/gallery-prev.png" />
    </div>
    <div id="gallery-thumbs-rightarrow" class="gallery-thumbs-arrows gallery-clicklink" onclick="thumbsScroll(1);">
      <img src="{{ STATIC_URL }}images/gallery-next.png" />
    </div>
  </div>
  
  <div id="gallery-fullscreen-message">
    <div id="gallery-fullscreen-message-subcontainer">
      <p>Returning to one-page view...</p>
    </div>
  </div>

</body>
</html>
