{% extends "base.html" %}
{% load i18n static thumbnail report_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/masonry.pkgd.js' %}"></script>
<script type="text/javascript">
$(function() {
	var container = document.querySelector('.report-items');
	var msnry = new Masonry( container, {
	  // options
	  columnWidth: 452,
	  gutter: 50,
	  itemSelector: '.report-item, .report-paragraph',
	});
});
</script>
{% endblock %}

{% block meta_title %}{{ report.title }}{% endblock %}

{% block body_id %}report{% endblock %}

{% block title %}{{ report.title }}{% endblock %}

<!-- use sidebar for brief report navigation -->
{% block side_menu %}
<div id="block-book-3" class="block report-side-nav">
  <a name="report-top"></a>  
  <div class="content">    
    <p><i class="fa fa-picture-o fa-lg"></i> <a href="{{ report.gallery_url }}">{% trans "Gallery View" %}</a></p>
    <p><i class="fa fa-bars fa-lg"></i> <a href="#more-reports">{% trans "More News" %}</a></p>
  </div>
</div>
{% endblock %}


{% block main %}
<div class="content report">
  <div class="report-header">
    {% if report.headline %}<h2 class="subtitle">{{ report.headline }}</h2>{% endif %}
    {% if report.headline_local %}<h2 class="subtitle">{{ report.headline_local }}</h2>{% endif %}
  </div>

  <div class="report-items">
    {% for ri in report_items %}
      {% with desc=ri.description|default:""|report_desc_markdown local_desc=ri.description_local|default:""|report_desc_markdown %}
        <div class="report-item">
          {% if ri.video_url %}
          <div class="video" style="width: {{ embedded_video_width }}px; height: {{ embedded_video_height }}px">
            {% report_item_video_html ri.video_url %}
          </div>
          {% elif ri.image %}{% with thumbnailer=ri.image.path|thumbnailer_passive %}
          <div class="image">
            <a href="{{ report.gallery_url }}#{{ forloop.counter }}">
              <img src="{{ thumbnailer.report_main.url }}" alt="" width="{{ thumbnailer.report_main.width }}" height="{{ thumbnailer.report_main.height }}" />
            </a>
          </div>
          {% endwith %}{% endif %}
          {% if ri.description %}
          <div class="description">{{ desc }}</div>
          {% endif %}
          {% if ri.description_local %}
          <div class="local">{{ local_desc }}</div>
          {% endif %}
        </div>
      {% endwith %}
    {% endfor %}
  </div>
  {% include "reports/parts/report_footer.html" %}

  <div class="report-nav clearfix">
    <a name="more-reports"></a>    
    <div class="prev">    
      {% for r in report.previous %}
        <a id="prev-{{ forloop.counter0 }}" href="{{ r.get_absolute_url }}"><i class="fa fa-chevron-circle-left fa-lg"></i><div class="link-text"><div class="text-upper">{{ r.stamp }}</div><div class="text-lower">{{ r.fromto }}</div></div></a>
      {% endfor %}    
    </div>
    <div class="next">
      {% for r in report.next %}
        <a id="next-{{ forloop.counter0 }}" href="{{ r.get_absolute_url }}"><div class="link-text"><div class="text-upper">{{ r.stamp }}</div><div class="text-lower">{{ r.fromto }}</div></div><i class="fa fa-chevron-circle-right fa-lg"></i></a>
      {% endfor %}
    </div>
    <div class="middle">
      {% for r in report.sameday %}
        {% if r == report %}
        <a id="next-{{ forloop.counter0 }}" class="selected">
        {% else %}
        <a id="next-{{ forloop.counter0 }}" href="{{ r.get_absolute_url }}">
        {% endif %}
          <div class="link-text"><div class="text-upper">{{ r.stamp }}</div><div class="text-lower">{{ r.fromto }}</div></div>
        </a>
      {% endfor %}
    </div>
  </div>
  
  <div id="sidebar-down">    
    <div id="block-book-3" class="block block-book">
      <div class="blockinner">
        {% country_reports %}
      </div>
    </div>
  </div>
  <div id="sidebar-down">    
    <div id="block-book-3" class="block block-book">
      <div class="blockinner">
        {% global_reports %}
      </div>
    </div>
  </div>

</div>
{% endblock %}