{% load i18n report_tags %}

<h2 class="title"><a href="{{ more_news_url }}">{% trans menu_title %}</a></h2>
<div class="content">
<div class="news">
  {% for rep in reports %}
    <div class="news-report-container">
      <div class="image">
        <a href="{{ rep.get_absolute_url }}">
          <img src="{% report_thumb_url rep %}" alt="Report thumbnail" width="{{ report_thumb_width }}" height="{{ report_thumb_height }}" />
        </a>
      </div>
      <p class="title{% if rep.pk = report.pk %} active{% endif %}">
        <a href="{{ rep.get_absolute_url }}">{{ rep.title }}</a>
      </p>
      <p class="headline">
        {% if rep.headline %}
          {{ rep.headline }}…
        {% endif %}
        {% if rep.headline_local %}<br/>
          {{ rep.headline_local }}…
        {% endif %}
      </p>
    </div>
  {% endfor %}
</div>
</div>
<br style="clear: left"/>
<a class="more_link" href="{{ more_news_url }}">More news <img src="/static/images/block-heading-bullet-red.png"></a>
