{% extends "base.html" %}
{% load i18n mezzanine_tags block_tags %}

{% block meta_title %}{% endblock %}

{% block title %}Runporter{% endblock %}

{% block main %}
<div class="content">
  {% richflatblock "Runporter" %}
  <h2>{% trans "Download application" %}</h2>
  <p>Version: {{ update.number }}  <a href="{{ update.file.url }}" class="btn btnSuccess">download</a>
    {% if version.label %}{{ Version.label }}{% endif %}
  </p>
</div>
{% endblock %}