

/* report gallery */
html {
	overflow: hidden;
}

#gallery {
	background-color: #FFFFFF;
	background-image: none;
	overflow-x: hidden;
	overflow-y: hidden;
}
.gallery-scroll {
	overflow-y: scroll !important;
}
.gallery--dark, .gallery--dark p {
	background-color: #000000 !important;
	color: #A1A1A1;
}
.gallery-clicklink {
	cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* top menubar */
.gallery-menubar {
	text-align: left;
	padding: 5px 10px 0px 10px;
}
.gallery-menubar img {
	height: 18px;
	position: relative;
	top: 3px;
	margin-left: 0px;
}
.gallery-menu-item {
	text-decoration: none;
	color: #000000;
}
.gallery-menu-item--dark {
	color: #FFFFFF;
}
.gallery-menu-item-right {
	float: right;
}
#gallery-exit {
	margin-left: 5px;
}
.gallery-menubar #site-title {
	color: rgb(238, 223, 37);
	text-shadow: 1px 1px 0 rgb(123, 122, 122);
}


/* item content */
#gallery-item-container {
	display: table;
	position: relative;
	width: 100%;
	text-align: center;
}
#gallery-item-subcontainer {
	display: table-cell;
	vertical-align: middle;
	padding: 10px 10px 0px 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


/* item content (image) */
#gallery-image-container {
	display: block;
}
#gallery-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* item content (paragraph) */
#gallery-paragraph-container {
	display: inline-block;
	margin-top: 15px;
	max-width: 600px;
	overflow: auto;
}
.gallery-paragraph p {
	padding: 0px 15px 15px 15px;
	text-align: justify;
}
.gallery-paragraph--dark a {
	color: #C2C2C2;
}
#gallery-paragraph-local {
	border-top: 1px solid #DAD9E0;
	padding-top: 15px;
}


/* item content (video) */
#gallery-video-container {
	display: block;
}


/* item content (preloader) */
#gallery-preloader-container {
	display: none;
}
#gallery-preloader-subcontainer {
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
}
#gallery-preloader-subsubcontainer {
	display: table-cell;
	vertical-align: middle;
}


/* item description */
#gallery-description-container {
	width: 100%;
	min-height: 15px;
	overflow: hidden;
	padding-bottom: 5px;
}
#gallery-description-subcontainer {
	height: 100%;
}
.gallery-description {
	float: left;
}
.gallery-description p {
	line-height: 16px;
	font-size: 14px;
	padding: 15px 0px 5px 0px;	
}
.gallery-description--dark a {
	color: #C2C2C2;
}
.gallery-description-brief {
	/* force only 1 line of text */
	height: 36px;
	overflow: hidden;
}
.gallery-description-brief p {
	/* this will cut off all but first line of the paragraph */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


/* description controls */
.gallery-description-controls {
	float: left;
	width: 60px;
	height: 100%;
	display: table;
}
.gallery-description-control {
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: bottom;
	white-space: nowrap;
}
.gallery-description-textcontrol {
	padding-bottom: 4.5px;
}
.gallery-description-control-icon {
	height: 20px;
}
.gallery-description-control-text {
	font-weight: bold;
	color: #000000;
	font-size: 16px;
	padding-left: 0px;
}
.gallery-description-control-text--dark {
	color: #FFFFFF;
}


/* prev next links and arrows */
.gallery-prevnext {
	position: absolute;
	top: 25%;
	width: 150px;
	height: 50%; 
}
#gallery-prev {
	text-align: left;
	left: 0px;
}
#gallery-next {
	text-align: right;
	right: 0px;
}
.gallery-prevnext-icon {
	margin: 10px;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	display: none;
}
.gallery-prevnext-hover .gallery-prevnext-icon {
	display: block;
}
#gallery-next-icon {
	right: 0px;
}


/* item thumbnails */
#gallery-thumbs-container {
	text-align: left;
	background-color: rgb(235, 235, 235);
	padding: 10px 30px 5px 30px;
	padding-bottom: 5px;
	height: 80px;
	position: relative;
}
.gallery-thumbs-container--dark {
	background-color: rgb(41, 41, 41) !important;
}
#gallery-thumbs-content {
	overflow: hidden;
}
#gallery-thumbs {
	position: relative;
	display: inline-block;
	white-space: nowrap;
}
.gallery-thumbs-arrows {
	position: absolute;
	top: 0px;
	height: 100%;
}
.gallery-thumbs-arrows img {
	width: 26px;
	height: 26px;
	margin: 2px;
	margin-top: 33px;
}
#gallery-thumbs-leftarrow {
	left: 0px;
}
#gallery-thumbs-rightarrow {
	right: 0px;
}
.gallery-thumb {
	border: 0px solid #000000;
	padding: 2px;
	width: 70px;
	height: 70px;
}
.gallery-thumb--dark {
	border-color: #FFFFFF;
}
.gallery-thumb-selected {
	border-width: 2px;
	padding: 0px;
	opacity: 0.7;
}

/* fullscreen message */
#gallery-fullscreen-message {
	display: none;
	background-color: #000000;
	opacity: 0.9;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
#gallery-fullscreen-message-subcontainer {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}
#gallery-fullscreen-message-subcontainer p {
	display: table-cell;
	vertical-align: middle;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15pt;
}
