#map {
	position: relative;
	margin-bottom: 20px;	
}

#map-image {
  max-width: 723px;
}

.map-point {
	position: absolute;
}

.map-point-hover {
	position: absolute;
	background-image: url(../images/countrymap-marker-highlight.png);
	width: 36px;
	height: 36px;
	left: -18px;
	top: -18px;
	z-index: 1;
}

.map-point-marker {
	position: absolute;
	background-image: url(../images/countrymap-marker.png);
	width: 20px;
	height: 20px;
	left: -10px;
	top: -10px;
	z-index: 2;
}

.map-point-frame {
	background-color: rgba(255, 255, 255, 0.8);
	color: #000000;
	font-weight: bold;
	border: 1px solid #C1D4EA;
	padding: 8px;
	position: relative;
	top: -78px;
	left: -50%;
	text-align: center;
	z-index: 3;
}

.map-point-hover, .map-point-frame {
	display: none;
}

.map-point-marker:hover ~ div {
	display: block
}

