/**
*   WHR CSS
*
*/
body {
	margin: 0;
	padding: 0;
	color: #888;
	font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif !important;
	font-size: 15px;
	font-weight: normal;
	line-height: 20px;
	background: url(../images/header-top-bg.png) repeat-x;
	text-align: center;
	}

/* Reset */

div {
	margin: 0;
	padding: 0;
	border: none;
	}

img {
	border: none;
	}

/* Links */

a:active,
a:focus {
	outline: 0;
	}

/* Typography K*/

a {
	color:#333;
	text-decoration: underline;
	}

h1.title {
	font-size: 26px;
	line-height: 28px;
	font-weight: normal;
	padding: 0 0 27px 1px;
	margin: 0;
	color: #363b90;
	text-shadow: 1px 1px 2px #999;
	}

h1.title a {
	color: #363b90;
	text-decoration: none;
	}

#main h2.title {
	font-size: 24px;
	line-height: 26px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 15px 0 14px 46px;
	margin: 0;
	background: url(../images/news-and-events-heading-bg.png) no-repeat left bottom;
	color: #a8a8a8;
	}

#main h2.title span.more-news {
	font-size: 12px;
	line-height: 14px;
	float: right;
	padding: 0;
	margin: 0;
	width: 117px;
	color: #666;
	display: none; /* hide until we can create a news page */
	}

#main h2.title span.more-news a {
	padding: 6px 0 6px 17px;
	margin: 0;
	width: 100px;
	display: block;
	background: url(../images/more-news-background.png) no-repeat;
	color: #666;
	}

#main h2.subtitle {
	font-size: 24px;
	line-height: 26px;
	font-weight: normal;
	padding: 0 0 14px 0;
	margin: 0;
	color: #a8a8a8;
	}

#sidebar-left h2.title, /* sidebar block heading */
#sidebar-right h2.title,
#sidebar-down h2.title {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #a8a8a8;
	display: block; /* remove hiding in user stylesheet, can probably turn off via admin instead */
	padding: 22px 0 16px 1px;
	margin: 0 0 0 0;
	background: url(../images/h2-border-grey-bg.png) no-repeat left bottom;
	}

#sidebar-right #block-book-3 h2.title, #sidebar-down #block-book-3 h2.title { /* yellow bg block with border */
	background-image: url(../images/h2-border-yellow-bg.png);
	color: #363b90; /* purple */
	}

#sidebar-right #block-book-0 h2.title,
#sidebar-right #block-user-1 h2.title,
#sidebar-right #block-book-1 h2.title,
#sidebar-right #block-menu-185 h2.title { /* remove title from sidebar navigation & admin blocks */
	display: none;
	}

#sidebar-left #block-book-4 h2.title { /* frontpage Live From The Road block */
	background: none;
	padding-bottom: 16px;
	margin-bottom: 0;
	}

#sidebar-right #block-block-4 h2.title { /* frontpage Friends block */
	padding-left: 42px;
	margin-bottom: 0;
	color: #363b90; /* purple */
	background: url(../images/friends-block-heading-purple-bg.png) left 4px no-repeat; /* torch header graphic */
	}

#sidebar-right #block-block-5 h2.title { /* frontpage Video block */
	margin-bottom: 0;
	color: #363b90; /* purple */
	background-image: none;
	}

#sidebar-right #block-block-6 h2.title { /* frontpage Founder block */
	color: #363b90; /* purple */
	background-image: url(../images/h2-border-yellow-bg.png);
	}

#sidebar-left #block-block-9 h2.title { /* frontpage UNESCO block */
	/*color: #363b90;*/ /* purple */
	font-size: 15px;
	line-height: 16px;
	background-image: none;
	margin-bottom: 0;
	}

h2.title a {
	color: #a8a8a8;
	text-decoration: none;
	}

#sidebar-right #block-book-3 h2.title a {
	color: #363b90; /* purple */
	}

.news-listing-country h2,
.news-listing-front h3 {
	font-size: 23px;
	line-height: 25px;
	font-weight: normal;
	color: #666;
	padding: 0 0 4px 0;
	margin: 0;
	}

.news-listing-front h3 {
	padding-bottom: 9px;
	}

.news-listing-country h2 a,
.news-listing-front h3 a {
	color: #666;
	text-decoration: none;
	}

h5,h5 a
{
	color:#000066;
	text-decoration:none;
	font-size:1em;
	margin:0;
}

h6,h6 a
{
	color:#000066;
	text-decoration:none;
	font-size:95%;
	margin:0;
	padding:0;
	padding:3px 0 0;
}

p {
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	color: #888;
	padding: 0 0 26px 0;
	margin: 0;
	}

p.intro { /* Frontpage intro text, need to find a way to make this global without editors needing to insert class */
	font-size: 17px;
	line-height: 24px;
	padding-bottom: 0px;
	margin-bottom: 30px;
	}

body#page-homepage p.intro {
	padding-bottom: 7px;
	}

p.intro a {
	color: #363b90;
	}

p.intro a.more {
	padding-right: 19px;
	background: url(../images/more-link-intro.png) no-repeat right 2px;
	font-weight: bold;
	}

#sidebar-left .block p.more,
#sidebar-right .block p.more { /* right sidebar widget more link */
	font-size: 14px;
	line-height: 15px;
	color: #363b90; /* Purple */
	padding: 13px 0 6px 0;
	margin: 0 0 0 0;
	background-position: left top;
	}

#sidebar-right #block-block-6 p.more,
#sidebar-left #block-block-9 p.more {
	padding-top: 0;
	}

#sidebar-left .block p.more a,
#sidebar-right .block p.more a {
	color: #363b90; /* Purple */
	padding-right: 18px;
	background: url(../images/more-link-right-sidebar.png) no-repeat right 1px; /* PNG-24 */
	text-decoration: underline;
	}

#sidebar-right p,
#sidebar-left p {
	font-size: 13px;
	line-height: 19px;
	padding: 0 0 16px 0;
	margin: 0;
	color: #a3a2a2;
	}

#sidebar-left #block-block-9 p { /* UNESCO / Block Red bg paragraph colour */
	/*color: #454545;*/
	}

#sidebar-right p a {
	color: #666;
	}

#sidebar-right #block-book-3 .content p, /* News Block, Yellow bg */
#sidebar-left #block-book-4 .content p, /* Live From The Road Block */ 
#sidebar-down #block-book-3 .content p { 
	font-size: 14px;
	line-height: 1.3;
	color: #bababa;
	padding: 0;
	margin: 0;
	}

#sidebar-left #block-book-4 .content p.intro,
#sidebar-left #block-book-4 .content p.outro {
	color: #363b90;
	font-size: 15px;
	line-height: 22px;
	padding: 0 0 18px 1px;
	margin: 0 0 18px 0;
	background: url(../images/h2-border-grey-bg.png) no-repeat left bottom;
	}

#sidebar-left #block-book-4 .content p.outro {
	font-size: 13px;
	line-height: 15px;
	color: #363b90; /* Purple */
	padding: 18px 0 6px 2px;
	margin: 12px 0 0 0;
	background-position: left top;
	display: none; /* For now there is no Live From The Road page to link to. Go figure. */
	}

#sidebar-left #block-book-4 .content p.outro a {
	color: #363b90; /* Purple */
	padding-right: 18px;
	background: url(../images/more-link-live-road.png) no-repeat right 1px;
	text-decoration: underline;
	}

#sidebar-left #block-book-4 .content p.title {
	color: #ca2228; /* Red */
	background: url(../images/block-heading-bullet-red.png) no-repeat left 4px;
	text-indent: 17px;
	padding-bottom: 3px;
	}


#sidebar-right #block-book-3 .content p.headline,
#sidebar-left #block-book-4 .content p.headline,
#sidebar-down #block-book-3 .content p.headline {  
	padding-bottom: 12px;
	font-size: 13px;
	}

#sidebar-left #block-book-4 .content p.headline {
	padding-bottom: 0; /* spacing is created by images and wrapper div */
	}

#sidebar-left #block-book-4 .content p.headline {
	color: #666;
	font-size: 12px;
	line-height: 17px;
	}

#sidebar-right #block-book-3 .content p a,
#sidebar-left #block-book-4 .content p a,
#sidebar-down #block-book-3 .content p a {
	color: #666;
	text-decoration: none;
	}

#sidebar-right #block-book-3 .content p.active a,
#sidebar-left #block-book-4 .content p.active a,
#sidebar-down #block-book-3 .content p.active a {
  color: #363b90;
  font-weight: bold;  
  }


#sidebar-left #block-book-4 .content p.title a {
	color: #ca2228; /* Red */
	}

.news-listing-front	p { /* Frontpage News Styles */
	padding-bottom: 0;
	}

.news-listing-front	p.more {
	padding: 6px 0 26px 0;
	}

.news-listing-front	p.more a {
	padding: 0 11px 0 0;
	color: #363b90;
	background: url(../images/more-link-purple-arrow.png) no-repeat right 5px;
	}

.news-listing-front p.news-byline {
	color: #cbcbcb;
	margin-bottom: 22px;
	font-size: 12px;
	line-height: 13px;
	}

.news-listing-front p.news-byline a {
	color: #cbcbcb;
	text-decoration: none;
	}

.news-listing-front p.news-byline span.location {
	font-size: 13px;
	text-transform: uppercase;
	color: #9d9d9d;
	padding-right: 2px;
	}

pre
{
	background:#ddd;
	border:1px solid #aaa;
	padding:.75em 1.5em;
}

blockquote
{
/*  border: 1px 0px #ccc solid; */
	margin:.5em 1em;
	padding:.3em;
	font-style:italic;
}

code
{
	font-size:100%;
	font-family:Profont, 'lucida console', 'Courier New', Monaco, monospace;
}


ol,ul,dl
{
/*  position: relative;  */
}


table tr.odd
{
	background:#eee;
}

table tr.even
{
	background:#ffffff;
}

tr,td
{
	padding:.3em;
}

td.icon
{
	text-align:center;
}

select,input,textarea
{
	font:99% arial,helvetica,clean,sans-serif;
}

pre,code
{
	font:115% monospace;
}

/**
*  STRUCTURE
*
**/

#page {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	text-align: left;
	}

header {
	position: relative;
	width: 1000px;
	overflow: hidden;
	}

#header-links-quote ul { /* header links and quote */
	padding: 7px 0 149px 0;
	margin: 0 0 0 0;
	list-style: none;
	width: 1000px;
	height: 29px;
	}

#header-links-quote ul li {
	float: right;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	}

#header-links-quote ul li.rss {
	margin-left: 12px;
	padding: 1px 16px 3px 12px;
	border-left: #f7e035 solid 1px;
	background: url(../images/rss-icon.png) no-repeat right 2px;
	}

#header-links-quote ul li.sign-in {
	padding: 1px 0 3px 0;
	}

#header-links-quote ul li.quote {
	float: left;
	padding: 0 0 0 16px;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	background: url(../images/header-quote-left.png) no-repeat left 3px;
	color: #f7e035;
	}

#header-links-quote ul li a {
	text-decoration: none;
	color: #fff;
	}

#header-links-quote ul li.quote a, #header-links-quote ul li a:hover {
	color: #f7e035;
	}

#header-links-quote ul li.quote span {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14.7px;
	font-weight: normal;
	background: url(../images/header-quote-right.png) no-repeat right 2px;
	padding-right: 15px;
	margin-right: 5px;
	color: #fff;
	}

#site-slogan {
    display: none;
	position: absolute;
	top: 50px;
	left: 9px;
	margin: 0;
	padding: 0;
	/*color: #d6d6d7;*/
	color: #005896;
	font-size: 27px;
	letter-spacing: 6pt;
	line-height: 21px;
	z-index: 2;
	}

header h1#logo {
	position: absolute;
	left: 0;
	top: 50px;
	padding: 0;
	margin: 0;
	z-index: 1;
	}

header h1#logo a {
    display: block;
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	width: 746px;
	height: 128px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	}

#select-country {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 53px;
	left: 786px;
	width: 191px;
	height: 96px;
	background: url(../images/world-map.png) no-repeat;
	text-align: center;
	}

#select-country form {
	margin: 38px auto 0 auto;
	font-size: 13px;
	}

/* Search form */

#search-box {
  	float: right;
	height: 21px;
	width: 227px;
	padding: 5px 0 6px 18px;
	margin: 0;
	border-left: #e6e6e6 solid 1px;
	background: url(../images/search-bg.png) no-repeat 18px 5px;
	}

#search-box fieldset {
	display: none;
	}

#search-box input.form-text { /* search text */
	padding: 3px 4px;
	margin: 0;
	border: none;
	background: transparent;
	font-size: 13px;
	line-height: 15px;
	float: left;
	width: 189px;
	height: 15px;
	color: #666;
	}

#search-box input.form-submit { /* search button */
	float: right;
	width: 23px;
	height: 21px;
	line-height: 0;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer; /* hand-shaped cursor */
	cursor: hand; /* for IE 5.x */
	text-indent: -9000px;
	background: transparent url(../images/search-button.png) no-repeat;
	}

/* Site Name - Country Heading and Flag: only appears on country pages */
h2#site-name {
	position: absolute;
	left: 774px;
	top: 53px;
	padding: 73px 0 0 0;
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	color: #363b90;
	font-weight: normal;
	border: none;
	background-repeat: no-repeat;
	min-width: 93px;
	}

body.section-southkorea #name-and-slogan h2#site-name { /* sections in non-roman languages need to have the background image inserted manually */
	padding: 0;
	background-image: none;
	}

h2#site-name a {
	color: #363b90;
	text-decoration: none;
	border: none;
	}

body.section-southkorea #name-and-slogan h2#site-name a {
	padding: 73px 0 0 0;
	min-width: 93px;
	background: url(../images/flag-southkorea.png) no-repeat;
	display: block;
	}

body#page-homepage h2#site-name,	/* hide site name on global pages */
body.section-friends h2#site-name,
body.section-media h2#site-name,
body.section-schoolsandkids h2#site-name,
body.section-song h2#site-name,
body.section-about h2#site-name,
body.section-admin h2#site-name,
body.section-unesco_year h2#site-name,
body.section-video h2#site-name,
body.section-participate h2#site-name,
body.section-torch_bearer h2#site-name {
	display: none;
	}

/* Navigation */

#navigation {
	width: 750px;
	height: 32px;
	float: left;
	display: overflow;
	}

#navigation #primary {
	padding: 0 0 0 2px;
	}

#navigation #primary ul {
	padding:0;
	margin:0;
	list-style: none;
	}

#navigation #primary li {
	padding: 4px 0 1px 0;
	margin: 0 23px 0 0;
	float: left;
	font-size: 17px;
	line-height: 19px;
	font-weight: normal;
	text-transform: uppercase;
	color: #8e8d8d;
	border-top: #fff solid 2px;
	}

#navigation #primary li a {
	color: #8e8d8d;
	text-decoration: none;
	}

#navigation #primary li a:hover {
	color: #363b90;
	}

#navigation #primary li a.active {
	color: #363b90;
	border-top: #ca2228 solid 2px;
	}

body#page-homepage #primary li,	/* make navigation larger on global pages */
body.section-friends #primary li,
body.section-media #primary li,
body.section-schoolsandkids #primary li,
body.section-song #primary li,
body.section-about #primary li,
body.section-admin #primary li,
body.section-unesco_year #primary li,
body.section-video #primary li,
body.section-participate #primary li,
body.section-torch_bearer #primary li {
	padding: 5px 0 0 0;
	margin: 0 43px 0 0;
	font-size: 19px;
	}

body.section-russia #navigation #primary li,
body.section-ukraine #navigation #primary li { /* some countries need an extra small nav */
	padding: 5px 0 3px 0;
	margin: 0 20px 0 0;
	font-size: 14px;
	}

/* Secondary Navigation */

#secondary {
	padding-left:20px;
	background:#6DA6E2;
	/*#347FD2;*/
	border-bottom:solid #2763A5 4px;
	}

#secondary ul {
	margin:0;
	padding:0;
	list-style:none;
	}

#secondary li {
	margin:0;
	padding:0;
	display:inline;
	}

#secondary li a {
	float:left;
	display:block;
	color:#fff;
	font-size:85%;
	text-decoration:none;
	padding:0 5px;
	}

#secondary a:hover {
	background:#2763A5;
	}

#secondary a.active {
	font-weight:700;
	}

/* Dev tabs */

/*
#main .tabs, #main .links {
	display: none; /* hide temp for dev */
	/*}*/


#container {
	padding: 12px 0 0 0;
	margin: 0;
	width: 1000px;
	}

/* country banner and slideshow */

#banner,
#slideshow {
	width: 727px;
	margin: 0 0 26px 2px;
	padding: 0;
	/*height: 199px; */
	height: 143px;
    /*background: no-repeat -4px -4px;*/
	border: #e3e3e3 solid 5px;
	position: relative;
	}

body#page-homepage #banner,
body.section-friends #banner,
body.section-media #banner,
body.section-schoolsandkids #banner,
body.section-song #banner,
body.section-about #banner,
body.section-admin #banner,
body.section-unesco_year #banner,
body.section-video #banner,
body.section-participate #banner,
body.section-torch_bearer #banner {
	display: none;
	}

#slideshow {
	/*display: none;
	height: 199px; */
	background: none;
	overflow: hidden;
	}

body#page-homepage #slideshow,
body.section-friends #slideshow,
body.section-media #slideshow,
body.section-schoolsandkids #slideshow,
body.section-song #slideshow,
body.section-about #slideshow,
body.section-admin #slideshow,
body.section-unesco_year #slideshow,
body.section-video #slideshow,
body.section-participate #slideshow,
body.section-torch_bearer #slideshow {
	display: block;
	}

#friends-slideshow {
	width: 206px;
	overflow: hidden;
	position: relative;
	}

#slideshow ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 727px;
	height: 199px;
	}

#friends-slideshow ul {
	border: none;
	list-style: none;
	width: 206px;
	height: 166px; /* jQuery.Cycle slideshow container needs a height, otherwise cached images display before display: none is applied */
	margin: 0;
	padding: 0;
	overflow: hidden;
	}

#slideshow ul li {
	padding: 0;
	margin: 0;
	width: 727px;
	height: 199px;
	position: relative;
	}

#friends-slideshow ul li {
	padding: 0;
	margin: 0;
	width: 206px;
	position: relative;
	overflow: hidden;
	}

#friends-slideshow ul li img {
	border: #fff solid 3px;
	}

.slideshow-nav {
	position: absolute;
	left: 0px;
	top: 75px;
	width: 727px;
	height: 38px;
	display: none;
	z-index: 1001;
	}

.slideshow-nav-friends {
	position: absolute;
	left: 3px;
	top: 46px;
	width: 200px;
	height: 27px;
	z-index: 1002;
	}

.slideshow-nav #next,
.slideshow-nav #prev,
.slideshow-nav-friends #next-friend,
.slideshow-nav-friends #prev-friend {
	float: left;
	margin: 0;
	padding: 0;
	width: 34px;
	height: 38px;
	}

.slideshow-nav-friends #next-friend,
.slideshow-nav-friends #prev-friend {
	width: 22px;
	height: 27px;
	}

.slideshow-nav #next,
.slideshow-nav-friends #next-friend {
	float: right;
	}

.slideshow-nav #next a,
.slideshow-nav #prev a,
.slideshow-nav-friends #next-friend a,
.slideshow-nav-friends #prev-friend a {
	margin: 0;
	padding: 0;
	width: 34px;
	height: 38px;
	display: block;
	line-height: 0;
	text-indent: -9000px;
	background: url(../images/slideshow-button-prev.png) no-repeat;
	}

.slideshow-nav-friends #next-friend a,
.slideshow-nav-friends #prev-friend a {
	width: 22px;
	height: 27px;
	background-image: url(../images/friends-button-prev.png);
	}

.slideshow-nav #next a {
	background-image: url(../images/slideshow-button-next.png);
	}

.slideshow-nav-friends #next-friend a {
	background-image: url(../images/friends-button-next.png);
	}

.slideshow-visible {
	display: block;
	}

/* slideshow text */

#banner h3, #slideshow h3 {
	position: absolute;
	right: 10px;
	bottom: 9px;
	font-size: 31px;
	line-height: 28px;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 -6px 0;
	text-align: right;
	color: #fff;
	text-shadow: 2px 2px 4px #666;
	}

#slideshow h3 {
	right: 12px;
	bottom: 18px;
	letter-spacing: 0.8px;
	color: #fff;
	z-index: 1001;
	}

#slideshow h3 span.smaller {
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.2px;
	margin: 0 0 -6px 0;
	display: inline-block;
	}

#sidebar-left h4,
#sidebar-right h4 {
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	padding: 10px 0 0 0;
	margin: 0;
	color: #666;
	}

#sidebar-right #friends-slideshow h4 {
	padding: 4px 0 0 0;
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	color: #bababa;
	font-weight: normal;
	}

#sidebar-right #friends-slideshow h4 a {
	color: #666;
	text-decoration: none;
	}

#sidebar-right #friends-slideshow h4 span.friends {
	display: block;
	}



/* breadcrumbs */

ul.breadcrumb {
	margin: 0;
	padding: 5px 0 0 46px;
	height: 23px;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	background: url(../images/breadcrumb-bg.png) no-repeat;
	list-style: none;
	overflow: hidden;
	}

body#page-homepage ul.breadcrumb { /* remove breadcrumbs from frontpage. Should really be done programmatically */
	display: none;
	}

ul.breadcrumb li {
	float: left;
	padding: 1px 0 3px 0;
	margin: 0;
	}

ul.breadcrumb li.home {
	text-transform: uppercase;
	/*font-weight: bold;*/
	}

ul.breadcrumb li a {
	color: #8e8d8d;
	border-bottom: #d6d6d7 solid 1px;
	text-decoration: none;
	}

ul.breadcrumb li.active {
	color: #474646;
	}

ul.breadcrumb div.divider {
	float: left;
	width: 8px;
	height: 14px;
	padding: 0;
	margin: 2px 6px 0 8px;
	text-indent: -9000px;
	line-height: 0;
	background: url(../images/breadcrumb-divider.png) no-repeat;
	}

/* Frontpage / Newslisting / Country Homepage */

.news-listing-front,
.news-listing-country {
	margin: 0;
	padding: 25px 0 8px 0;
	border-bottom: #dbdbdb solid 1px;
	overflow: hidden;
	}

.last {
	border-bottom: none;
	padding-bottom: 31px;
	}

.news-listing-country {
	padding-bottom: 34px;
	}

.news-listing-front img,
.news-listing-country img {
	float: left;
	border: #ccc solid 2px;
	padding: 0;
	margin: 3px 14px 26px 0;
	}


/* Sidebars */

#sidebar-right, #sidebar-left {
	padding: 0;
	margin: 0;
	float: right;
	width: 235px;
	}

#sidebar-left {
	margin-right: 25px;
	}	

body.sidebar-left #sidebar-left {
	margin-right: 0;
	}

#sidebar-left .block,
#sidebar-right .block,
#sidebar-down .block {
	background-color: #f4f4f4; /* grey bg */
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 0 14px 18px 14px;
	margin: 0 0 20px 0;
	border: none;
	overflow: hidden;
	}

/* Sidebar Friends Block */

#sidebar-right #block-block-4 {
	background-color: #e1e2ee; /* purple bg */
	}

/* Sidebar Video Block */

#sidebar-right #block-block-5 {
	background-color: #fff; /* white bg */
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: #e0e0e0 solid 1px;
	}

#video-clip {
	border: #ccc solid 3px;
	width: 200px;
	height: 120px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	}

#video-clip img#thumbnail { /* reduce 640px wide thumbnail to 200px wide */
	width: 200px;
	height: 120px;
	margin: 0;
	padding: 0;
	}

#video-clip a#play-button {
	position: absolute;
	left: 71px;
	top: 31px;
	background: url(../images/video-play-button.png) no-repeat;
	display: block;
	margin: 0;
	padding: 0;
	width: 59px;
	height: 53px;
	z-index: 2000;
	text-decoration: none;
	}

/* Sidebar Founder Block */

#sidebar-right #block-block-6 {
	background-color: #fffad9; /* yellow bg */
	}

#sidebar-right #block-block-6 img {
	float: left;
	border: #fff solid 2px;
	margin: 0 10px 10px 0;
	padding: 0;
	}

/* Global Nav Block */

#sidebar-right #block-block-8 {
	background-color: #fff; /* white bg */
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding-left: 20px;
	margin-bottom: 0;
	}

#sidebar-right #block-block-8 h2.title {
	display: none;
	}

#sidebar-right #block-block-8 #select-country {
	display: block; /* reveal country jump menu */
	position: relative;
	top: 0;
	left: 0;
	width: 191px;
	height: 96px;
	background: url(../images/world-map.png) no-repeat;
	text-align: center;
	}

#sidebar-right #block-block-8 #select-country form {
	margin-top: 0;
	padding-top: 32px;
	}

/* Sidebar UNESCO Block */

#sidebar-left #block-block-9 {
	/*background-color: #ffddde;*/ /* red bg */
	/*background-color: #fffad9; /* yellow bg */
	background-color: #fff; /* white bg */
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: #e0e0e0 solid 1px;
	}

#sidebar-left #block-block-9 img {
	border: #f2f2f2 solid 3px;
	margin-bottom: 10px;
	}

/* Sidebar Navigation Block */

#sidebar-right #block-book-0,
#sidebar-right #block-user-1, /* admin block 1 */
#sidebar-right #block-book-1, /* admin block 2 */
#sidebar-right #block-menu-185 { /* Global Sidebar Menu */
	background-color: #fff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding: 0;
	}

#sidebar-right #block-user-1 {
	/* background-color: #f4f4f4; let's make admin block stand out a little */
	}

#sidebar-right ul.menu {
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	border-top: #ebebeb solid 1px;
	}

#sidebar-right ul.menu li {
	font-size: 15px;
	line-height: 18px;
	padding: 0;
	margin: 0;
	background-image: none;
	list-style: none;
	border-bottom: #ebebeb solid 1px;
	color: #666;
	position: relative;
	}

#sidebar-right ul.menu li a {
	color: #666;
	padding: 8px 11px 8px 11px;
	display: block;
	text-decoration: none;
	}

#sidebar-right ul.menu li a:hover {
	color: #363b90;
	}

#sidebar-right ul.menu li.expanded { /* level 2 */
	padding-bottom: 0;
	color: #363b90;
	background: #f2f2f2 url(../images/level-2-nav-bg.png) repeat-x 0px 34px;
	border-bottom: #fff solid 1px;
	}

#sidebar-right ul.menu li.expanded a,
#sidebar-right ul.menu li a.active {
	color: #363b90;
	}

#sidebar-right ul.menu li a.active {
	background-color: #f2f2f2;
	}

#sidebar-right ul.menu li.expanded ul.menu {
	margin-top: 4px;
	padding: 13px 5px 3px 30px;
	background-color: #f2f2f2;
	border-top: none;
	}

#sidebar-right ul.menu li.expanded ul.menu li {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	padding: 0;
	color: #a1a1a1;
	border-bottom: none;
	}

#sidebar-right ul.menu li.expanded ul.menu li a {
	color: #a1a1a1;
	padding: 0 0 11px 0;
	display: block;
	}

#sidebar-right ul.menu li.expanded ul.menu li a:hover {
	color: #494848;
	}

#sidebar-right ul.menu li.expanded ul.menu li.expanded {
	color: #494848;
	padding-bottom: 0;
	}

#sidebar-right ul.menu li.expanded ul.menu li.expanded a,
#sidebar-right ul.menu li.expanded ul.menu li a.active {
	color: #494848;
	background-color: transparent;
	}

#sidebar-right ul.menu li.expanded ul.menu li.expanded ul.menu { /* level 3 */
	margin-top: 0;
	padding-top: 0;
	padding-left: 10px;
	padding-bottom: 3px;
	}

#sidebar-right ul.menu li.expanded ul.menu li.expanded li {
	font-size: 12px;
	line-height: 16px;
	color: #c2c2c2;
	padding: 0;
	background: url(../images/level-3-nav-bg.png) no-repeat 0px 6px;
	}

#sidebar-right ul.menu li.expanded ul.menu li.expanded li a {
	color: #c2c2c2;
	padding-left: 14px;
	display: block;
	}

#sidebar-right ul.menu li.expanded ul.menu li.expanded li a:hover {
	color: #a1a1a1;
	}

#sidebar-right ul.menu li.expanded ul.menu li.expanded li a.active {
	color: #a1a1a1;
	}

/* Sidebar News Block */

#sidebar-right #block-book-3, #sidebar-down #block-book-3 {
	background-color: #fffad9;
	}

#sidebar-right #block-book-3 .content,
#sidebar-left #block-book-4 .content {
	padding: 18px 0 0 2px;
	}

#sidebar-left #block-book-4 .content {
	padding-bottom: 10px; /* remove extra padding when .outro is restored */
	}

#sidebar-left #block-book-4 div.wrapper {
	overflow: hidden;
	padding: 0 0 16px 0;
	margin: 12px 0 0 0;
	border-bottom: #e4e4e4 solid 1px;
	}

#sidebar-left #block-book-4 img { /* live from the road widget thumbnails */
	float: left;
	width: 71px;
	height: 71px;
	border: #ccc solid 2px;
	margin: 3px 8px 0 0;
	padding: 0;
	}

#sidebar-left #block-book-4 p.more-live-from-road {
	font-size: 12px;
	padding: 0;
	margin: 8px 0 0 0;
	font-weight: bold;
	}

#sidebar-left #block-book-4 p.more-live-from-road a {
	background: url(../images/more-news-sidebar.png) right 3px no-repeat;
	padding-right: 8px;
	color: #a8a8a8;
	text-decoration: underline;
	}





/* Main Content */

#main {
	text-align: left;
	}

#main, body.sidebars #main {
	margin: 0;
	padding: 18px 0 0 0;
	width: 468px; /* two columns */
	}

body.sidebar-left #main, body.sidebar-right #main {
	width: 723px; /* one column */
	}

#main .content {
	padding: 0 0 0 4px;
	}

#main tbody
{
	border:none;
}

div.links
{
	font-size:80%;
}

img.img_left, .pull-left {
  float: left;
}
img.img_right, .pull-right {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clearing {
  clear: both;
}
/* Listing style with 200x100 images (for child pages) */
.whr-listing2
{
	height:150px;
	margin:0;
	padding:0;
}

.whr-listing2 h2
{
}

.whr-listing2 img
{
	float:left;
	height:100px;
	width:200px;
	border:none;
	padding:0;
	margin:0 10px 0 0;
}


/* Listing style with 100x100 images (for newsfolders and newsitems) */
.whr-listing1
{
	height:150px;
	margin:0;
	padding:0;
}

.whr-listing1 h3
{
}

.whr-listing1 img
{
	float:left;
	height:100px;
	width:100px;
	border:none;
	padding:0;
	margin:0 10px 0 0;
}


#report #main {
	width: 100%;
}
#report .content {
	padding: 0px;
}
#report h1.title {
  padding-bottom: 10px;
}
.report-header {
  margin-bottom: 25px;
}
.report-items {
	margin-left: 25px;
}
.report-item {
  width: 450px;
  padding: 0px;
  margin-bottom: 8px;
}
.report-item .video {
	padding-bottom: 10px;
}
.report img {
  border: #ddd solid 1px;
  padding: 0;
  margin: 0;
}
.report p {
  padding-bottom: 15px;
  text-align:justify;
}
.report-item .description {
  width: 450px;
}
.report-footer {
  padding: 2px;
  background-color: #fffad9;
  text-align: left;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;  
}
.report-row {
  min-height: 1em;
  margin: 10px;
  color: #999;
  font-size: 13px;
  line-height: 18px;
}
.report-row em, .report-row .name {
  color: #666;
  font-style: normal;
}
.report-nav {
  margin: 20px 0;
  background: #e1e2ee;
   border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; 
}
.report-nav .prev, .report-nav .next {
  padding: 0px;
  padding-bottom: 7px;
  line-height: 2.0em;
}
.report-nav .next {
	text-align: right;
}
.report-nav a {
  text-decoration: none;
  color: #555;
  display: block;
}
.report-nav a:hover {
  color: #111;
}
.report-nav .prev {
  float: left;
  padding-left: 15px; 
  _background: url(../images/prev.png) left no-repeat;
}
.report-nav .next {
  float: right;
  padding-right: 15px;
  _background: url(../images/next.png) right no-repeat;
}
.report-nav .middle {
  width: 33%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}
.report-nav .link-text {
	display: inline-block;
	margin: 5px 5px 5px 5px;
	font-size: 0.85em;
	line-height: 1.1em;
	position: relative;
	top: 6px;
}
.report-nav .text-lower {
	font-size: 0.8em;
	color: #999;
}
.report-nav .fa {
	font-size: 1.6em !important;
}
.report-nav a i {
  color: #eb1c24;
}
.report-nav .selected .link-text {
	top: 0px;
	margin-top: 10px;
}
.report-nav .selected .text-upper {
	color: #363b90;
	text-shadow: 1px 1px 2px #999;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.5em;
}
.report-nav .selected .text-lower {
	font-size: 1.1em;
	font-weight: bold;
}
.report-side-nav  {
  padding-top: 15px;
}
#sidebar-right #block-book-3.report-side-nav .content p {
  margin-bottom: 1em;
}
.embedded-video {
	width: 100%;
	height: 100%;
}




/* WHR UNUSED BEGIN

#mission
{
	color:#666;
	font-weight:700;
	padding:2em;
	background:#D7E3F0 url(../images/background.png);
	margin-bottom:20px;
	font-size:85%;
	border:solid 1px #B5C9D8;
}
WHR UNUSED END */






/* WHR UNUSED BEGIN
.taxonomy
{
	margin:0;
	padding:0;
	display:inline;
}

.taxonomy ul.links li
{
	border:none;
	padding:0 .1em 0 .2em;
}

.taxonomy ul.links li:after
{
	content:",";
}

.taxonomy ul.links li.last:after
{
	content:"";
}
WHR UNUSED END */

ul.links li.first
{
	padding-left:0;
	border:none;
}

.links
{
	color:#999;
}

.links a
{
	padding:0 .1em;
}

.submitted,.taxonomy
{
	font-size:85%;
	color:#999;
}

/* Form styles */
input,textarea,textfield
{
	margin:0;
	color:#000;
	font-family:arial;
	padding:1px;
	font-size:100%;
}

fieldset
{
	border:solid #ccc 1px;
}

input.form-checkbox,input.form-radio
{
	border:none;
}

#user-login-form .form-text {
	color:#444;
	border:1px solid #6191C5;
	padding:2px;
	}

.form-submit,.button
{
	padding:1px;
}

#user-login-form .button,#user-login-form .form-submit {
	background-color:#68A0D9;
	color:#fff;
	font-weight:700;
	border:1px solid #4070A1;
	}

#node-form,#node-form .node-form {
	/*width: 723px;*/
	overflow: hidden;
	}

#user-login-form
{
	text-align:left;
}

#user-login-form .item-list ul
{
	margin-top:10px;
}

/* Alerts, Status, Help Messages  */
.messages
{
	min-height:32px;
/* icon height */
	padding:.3em .3em .3em 52px;
	border:2px solid #ddd;
	background:#eee;
	margin:10px 0;
}

div.error
{
	border:2px solid #F00;
}

.messages ul
{
	padding:0 0 0 20px;
	margin:0;
}

/* Footer styles */

#footer-wrapper {
	clear: both;
	tex-align: center;
	overflow: hidden;
	width: 100%;
	background: #eb1c24;
	margin: 120px 0 0 0;
	}

#footer {
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0 20px 0;
	text-align: left;
	overflow: hidden;
	}

#footer .column {
	float: left;
	width: 200px;
	padding: 0 50px 0 0;
	}

#footer h5 {
	color: #f7e035;
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	padding: 0 0 10px 0;
	margin: 0;
	}

#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

#footer ul li {
	padding: 6px 0 8px 8px;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	border-bottom: #db6761 solid 1px;
	}

#footer ul li a {
	color: #fff;
	text-decoration: none;
	}

#footer p.site-by,
#footer p.copyright {
	clear: left;
	margin: 36px 0 0 0;
	padding: 0;
	color: #fff;
	font-size: 12px;
	}

#footer p.site-by {
	float: right;
	padding: 3px 0 9px 30px;
	width: 220px;
	background: url(../images/specialops-logo.png) left top no-repeat;
	font-family: Helvetica, Arial, sans-serif;
	}

#footer p.copyright	{
	float: left;
	padding: 3px 0 0 0;
	}

#footer p a {
	color: #ffffff;
	text-decoration: none;
	}

/* Administration styles */
/* WHR UNUSED BEGIN
.admin-panel
{
	margin:0;
	padding:0;
}

.admin-panel .body
{
	background-color:#eee;
	border:solid #6191C5 1px;
}

.admin-panel .body dl,.admin-panel .body p
{

}

.admin-panel h3
{
	margin-bottom:0;
	padding:5px 5px 5px 30px;
	font-family:verdana;
	font-size:122%;
	color:#fff;
	border-width:0 2px 2px;
}
WHR UNUSED END */

/* Comment styles */
/* WHR UNUSED BEGIN
.comment
{
	margin:0 0 10px;
	padding:10px;
	background:#EBF2F8;
}

.comment h3.title,.comment h3.title a
{
	font-size:122%;
	color:#2266AB;
	font-weight:400;
	font-family:"Trebuchet MS", Arial, Verdana, Sans-serif;
	margin-bottom:3px;
	margin-top:0;
}

.comment .picture,.node .picture
{
	float:left;
	margin-right:15px;
}

.comment-unpublished
{
	background:#FCE38E;
}

.comment .new
{
	color:#FFC600;
	font-weight:700;
	font-family:"Trebuchet MS", Arial, Verdana, Sans-serif;
}

.comment .links
{
	text-align:right;
}
WHR UNUSED END */


/* Poll styles */
/* WHR UNUSED BEGIN
.poll .bar .foreground
{
	background:#2763A5;
}

.poll .bar
{
	padding:2px;
	background:#BDCBDD;
}
WHR UNUSED END */

/* Book styles */
div.node div.content .book-navigation
{
	background:#eee;
	margin:0;
	padding:0;
}



div.node div.content .book-navigation .page-links
{
	background:#C1D4EA;
/*#347FD2;*/
	border:1px solid #2763A5;
	border-width:1px 0;
	padding:5px;
	margin:0;
}

/* Forum styles */
/* WHR UNUSED BEGIN
#forum table
{
	width:100%;
}
WHR UNUSED END */

/* Pager styles */
.pager
{
	text-align:center;
	margin-top:30px;
}

.pager a,.pager-current
{
	padding:3px 8px;
	margin:0 2px;
	color:#2763A5;
	font-weight:700;
	border:solid 1px #eee;
}

.pager-current
{
	color:#fff;
	background-color:#2763A5;
}

/* Node, Block, Content styles */


.node p.lang2{
	color:#0051bf;
}

.node em.lang2{
	color:#0051bf;
}

.node i.lang2{
	color:#0051bf;
}

.sticky
{
	border-bottom:solid 3px #ddd;
}

.profile
{
	clear:none;
}




/**
 * Status report colors.
 */
/* WHR theme is not used for system status
table.system-status-report tr.error,table.system-status-report tr.error th
{
	background-color:#fcc;
	border-color:#ebb;
	color:#200;
}

table.system-status-report tr.warning,table.system-status-report tr.warning th
{
	background-color:#ffd;
	border-color:#eeb;
}

table.system-status-report tr.ok,table.system-status-report tr.ok th
{
	background-color:#dfd;
	border-color:#beb;
}
*/
/**
* Drop down menu.
*/
#countries
{
	position:absolute;
	top:38px;
	left:650px;
}


/**
* Newsitem date.
*/
/* UNUSED BEGIN
.date_box {
	background-color: #FFFFFF;
	background-image: url(../images/date.jpg);
	height: 51px;
	width: 52px;
	float: left;
}

.date_box_month {
	padding-top: 6px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 3px;
	text-align: center;
	color: #0000ff;
}

.date_box_day {
	font-size: 22px;
	font-weight: bold;
	padding-left: 3px;
	text-align: center;
	font-style: italic;
	color: #003399;
}
UNUSED END */

#edit-preview {
}
#edit-submit {
  font-weight: bold;
}
#edit-delete {
  margin-left: 2em;
}

/**
* News block
*/


/* Forum posts and recent blog posts */
/* WHR UNUSED BEGIN
.block-forum ul li
{
	list-style-type:none;
	list-style-image:none;
	margin:0;
	padding:5px 0 5px 20px;
	background-image:url(../images/page_text.gif);
	background-repeat:no-repeat;
	background-position:0 .5em;
}
WHR UNUSED END */

/* WHR UNUSED BEGIN
.block-blog ul li
{
	list-style-type:none;
	list-style-image:none;
	margin:0;
	padding:5px 0 5px 20px;
	background-image:url(../images/blog.png);
	background-repeat:no-repeat;
	background-position:0 .7em;
}
WHR UNUSED END */

/* Who's new & Who's online*/
/* WHR UNUSED BEGIN
#block-user-2 ul li,#block-user-3 ul li
{
	list-style-type:none;
	list-style-image:none;
	margin:0;
	padding:5px 0 5px 20px;
	background-image:url(../images/icon_user.gif);
	background-repeat:no-repeat;
	background-position:0 .5em;
}
WHR UNUSED END */

/* Status and Error icons */
div.status
{
	background-image:url(../images/dialog-information_i.gif);
	background-repeat:no-repeat;
	background-position:.5em 50%;
}

div.error
{
	background-image:url(../images/dialog-warning.gif);
	background-repeat:no-repeat;
	background-position:.5em 50%;
}

/* Node links such as add comments, User's blog, etc */
#main .node div.links
{
	padding:5px 0 5px 13px;
	background:url(../images/links.gif) no-repeat 0 .93em;
}

/* Administration panel */
/* WHR UNUSED BEGIN
.admin-panel h3
{
	background:#6191C5 url(../images/cog.png) no-repeat .5em .5em;
}
WHR UNUSED END */


/* Ondra: news side menu */

#sidebar-down {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  float: left;
  width: 472px;  
}

#sidebar-down .block {
	padding: 0px;
	padding-left: 20px;
}

#sidebar-down .news-report-container {
	width: 206px;
	height: 250px;
	float: left;
	margin-right: 20px;
}

#sidebar-down .title {
	background: none !important;
}

.news img {
	border: none;
	display: block;
}

.news .image {
	border: 3px solid white;
}

.news .title {
	margin-top: 3px !important;
}

.news .headline {
	margin-bottom: 10px !important;
}

.news p {
	text-align: left;
}

#sidebar-right .block-book, #sidebar-down .block-book {
	padding-bottom: 10px;
}

#sidebar-right .more_link, #sidebar-down .more_link {
	margin-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

.more_link img {
	border: none;
}

#sidebar-right .title, #sidebar-right .title {
	text-decoration: none;
}

.changer-clicklink {
	cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.news .changer_container {
	position: relative;
}

.news #report_image_container {
	z-index: 10;
	position: absolute;
	top: 0px;
	left: 0px;
}

.news #report_image {
	width: 100%;
	height: 100%;
}

.changer-prevnext {
	position: absolute;
	top: 0px;
	width: 20%;
	height: 100%; 
	z-index: 1002;
}

#changer-prev {
	text-align: left;
	left: 0px;
}

#changer-next {
	text-align: right;
	right: -1px;
}

.changer-prevnext img {
	margin: 0px;
	position: absolute;
	top: 50%;
	margin-top: -13px;
	border: none !important;
}

#changer-next img {
	right: 0px;
}

#changer-bg {
	background-color: white;
}

.changer-description {
	height: 85px;
}


/* Ondra: report list view */

.report-list .year-container {
	
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	margin-bottom: 30px;
}

.report-list .report-container {
	clear: left;
	height: 90px;
	margin-bottom: 5px;
}

.report-list .report-thumb {
	width: 122px;
	height: 70px;
	border: solid 1px white;
	display: block;
	float: left;
	margin-right: 15px;
}

.report-list .title {
	color: #666;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.8;
}

.report-list .headline {
	line-height: 1.3;
	color: #BABABA;
}

.report-list {
    clear: left;
}
.report-filter {
    height: 2em;
    background-color: #FFFAD9;
    border-radius: 10px;
    padding: 15px 20px 10px 20px;
    margin-bottom: 30px;    
}
#report-form p {
    float: left;
    margin-right: 25px;    
}


/* Forms */
.control-group {
	margin-bottom: 20px;
}

#search-results .result  {margin-bottom: 15px;}

/* pagination */
.pagination ul, li {margin: 0; padding:0; list-style: none;}
.pagination ul{ padding-top: 20px;} 
.pagination li.page-info {display:none;}
.pagination li {    
    float: left;    
    border: 1px solid #999;
}
.pagination li a {
    display: block;
    padding: 4px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    text-align: center;
}
.pagination li.disabled {
    background: #eee;
}
.pagination li.active {
    background: navy;
}
.pagination li.active a {
    color: white;
}
/* shadowbox.js styles */

#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-weight:bold;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:9999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background: url(../images/loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(../images/close.png);}
#sb-nav-next{background-image:url(../images/next.png);}
#sb-nav-previous{background-image:url(../images/previous.png);}
#sb-nav-play{background-image:url(../images/play.png);}
#sb-nav-pause{background-image:url(../images/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
