<!DOCTYPE html>
{% load pages_tags mezzanine_tags block_tags i18n countries future report_tags cookienotice_tags %}
<html>
<head>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
  <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />

  {% ifinstalled mezzanine.blog %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
  {% endifinstalled %}

  {% compress css %}
    {#<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.responsive.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mezzanine.css">#}
    {#<link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}css/styles.less" />#}
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
    {% block extra_css %}{% endblock %}
    {#<script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script>#}
  {% endcompress %}


  {% compress js %}
  <script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
  {#<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>#}
  {% block extra_js %}{% endblock %}
  <script src="{{ STATIC_URL }}js/init.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.cookiesdirective.js"></script>
  {% endcompress %}

  <!--[if lt IE 9]>
  <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
  <![endif]-->

  {% cookienotice %}

  {% block extra_head %}{% endblock %}
</head>
<body id="{% block body_id %}body{% endblock %}" class="sidebar-right">
  <div id="page">
    <header>
      <div id="header-links-quote" class="container"><!-- header links & quote -->
        <ul>
          {#<li class="rss"><a href="#" title="Subcribe via RSS to the World Harmony Run">RSS</a></li>#}
          <li class="sign-in">
            {% if request.user.is_anonymous %}
            <a href="{% url 'admin:index' %}" title="Editor’s Sign In">Sign In</a>
            {% else %}
            Welcome, {{ request.user.first_name }}. &emsp; <a href="{% url 'logout' %}">Log out</a>
            {% endif %}
          </li>

          {% if settings.SITE_TAGLINE %}<li class="quote"><span>{{ settings.SITE_TAGLINE }}</span>—<a href="/srichinmoy/" title="Sri Chinmoy, World Harmony Run Founder">Sri Chinmoy, Run Founder</a></li>{% endif %}
        </ul>
      </div>
      <div id="logo-title">
        <div id="name-and-slogan">
          {#<div id="site-slogan">SRI CHINMOY ONENESS-HOME</div>#}
          <h1 id="logo"><a href="/" title="Peace Run: Home">PEACE RUN</a></h1>
          {% if not params.is_home and request.country %}
          <h2 id="site-name" style="background-image: url({{ STATIC_URL }}flags/flag-{{ request.country.name|slugify }}.png);"> <a href="/{{ request.country_id }}/">{{ request.country.name }}</a> </h2>
          {% endif %}
        </div>
      </div>
      <div id="search-box">
        <form action="/search/" accept-charset="UTF-8" method="get" id="search-theme-form">{% csrf_token %}
          <div>
            <div id="search" class="container-inline">
              <div class="form-item">
               <input type="text" maxlength="128" name="q" id="edit-search-theme-form-keys" size="15" value="" title="Enter the terms you wish to search for." class="form-text">
              </div>
              <input type="submit" name="op" id="edit-submit" value="Search" class="form-submit">
              <input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form">
            </div>
          </div>
        </form>
      </div>
      <div id="navigation" class="menu withprimary ">
        <div id="primary" class="clear-block">
          <ul class="links-menu">
            {% page_menu "pages/menus/primary.html" %}
          </ul>
        </div>
      </div>
      {% if not request.country_id %}
      <div id="select-country">
        <form name="countries">
          {% select_country %}
        </form>
      </div>
      {% endif %}
    </header>
    <div id="container" class="clear-block">
      <div id="sidebar-right">
      {% block side_menu %}
        {% include "parts/side_menu_pages.html" %}
        {% if request.country %}
          <div id="block-book-3" class="block block-book">
            <div class="blockinner">
              {% country_reports %}
            </div>
          </div>
        {% endif %}
        <div id="block-book-3" class="block block-book">
          <div class="blockinner">
            {% if request.country %}
              {% global_reports_changer %}
            {% else %}
              {% global_reports %}
            {% endif %}
          </div>
        </div>
      {% endblock %}
      </div>
      {% block slides %}{% endblock %}
      <div id="header-region">
        <ul class="breadcrumb">
        {% spaceless %}
        {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
        {% endspaceless %}
        </ul>
      </div>
      <div id="main" class="column">
        <h1 class="title">{% block title %}{% endblock %}</h1>
        {% block main %}{% endblock %}
      </div>
    </div>
  </div>
  <div id="footer-wrapper">
    <div id="footer">
      <div class="column">
        {% richflatblock "Footer1" %}
      </div>
      <div class="column">
        {% richflatblock "Footer2" %}
      </div>
      <div class="column">
        {% richflatblock "Footer3" %}
      </div>
      <div class="column">
        {% richflatblock "Footer4" %}
      </div>
      <div class="wrapper">
        {#<p class="site-by">&nbsp;&nbsp;</p>#}
        <p class="copyright">Copyright © 2019 The Sri Chinmoy Oneness-Home Peace Run Inc. All Rights Reserved under Creative Commons Attribution-NonCommercial-NoDerivs 3.0</p>
      </div>

    </div>
  </div>
{% include "includes/footer_scripts.html" %}
</body>
</html>
