{% extends "admin/change_form.html" %}
{% load i18n future %}

{% block after_related_objects %}
<fieldset class="module aligned">
  <div class="form-row">
    <p><b>Users with access</b></p>
    {% for user in users_with_access %}
      <a href="/admin/auth/user/{{ user.id }}/">{{ user.username }}</a></br>
    {% endfor %}
  </div>
</fieldset>

{% endblock %}