{% load i18n report_tags %}

<script src="{{ STATIC_URL }}js/report-changer.js"></script>
<script type="text/javascript">

reportChangerInit({
  reports: [
    {% for rep in reports %}
      {
        url: "{{ rep.get_absolute_url }}",
        src: "{% report_thumb_url rep %}",
        title: "{{ rep.title }}",
        headline: "{% if rep.headline %}{{ rep.headline }}…{% endif %}",
        headlineLocal: "{% if rep.headline_local %}{{ rep.headline_local }}…{% endif %}"
      },
    {% endfor %}
    ],
  });



$(document).ready(function () {
  reportChangerChangeTo(0);
  reportChangerStartAuto();
});

</script>

<h2 class="title"><a href="{{ more_news_url }}">{% trans menu_title %}</a></h2>
<div class="content">
<div class="news">
  <span class="report">
    <div class="image changer_container">
      <div id="changer-bg" style="width: {{ report_thumb_width }}px; height: {{ report_thumb_height }}px"> </div>
      <div id="changer-prev" class="changer-prevnext changer-clicklink" onclick="reportChangerStopAuto(); reportChangerPrev()"><img src="{{ STATIC_URL }}images/changer-button-prev.png" /></div>
      <div id="changer-next" class="changer-prevnext changer-clicklink" onclick="reportChangerStopAuto(); reportChangerNext()"><img src="{{ STATIC_URL }}images/changer-button-next.png" /></div>
      <div id="report_image_container" style="width: {{ report_thumb_width }}px; height: {{ report_thumb_height }}px"><a id="report_link" href=""><img id="report_image" src="{{ STATIC_URL }}images/null_report_thumb.png" /></a></div>
    </div>
    <div class="changer-description">
      <p class="title">
        <a id="report_title" href="">{{ rep.title }}</a>
      </p>
      <p id="report_headline" class="headline"> </p>
    </div>
  </span>
  

</div>
</div>
<a class="more_link" href="{{ more_news_url }}">More news <img src="/static/images/block-heading-bullet-red.png"></a>

