{% extends "email/base.html" %}

{% block main %}
{% if message %}<p>{{ message }}</p>{% endif %}
<table border="0">
{% for field, value in fields %}
<tr>
    <td><b>{{ field }}:</b></td>
    <td>
    {% ifequal value|slice:":4" "http" %}
      {{ value|urlize }}
    {% else %}
      {{ value|linebreaks }}
    {% endifequal %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}  